build/home.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <!--link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")-->
    <!--link(rel="icon" href="img/favicon.ico" type="image/x-icon")-->
    <!-- Place favicon.ico in the root directory-->
    <link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="home-page">
    <div class="main-container">
      <div class="overlay" id="overlay"></div>
      <section>
        <div class="main-screen" style="background-image: url(img/bg_home.jpg)">
          <header class="header">
            <div class="container">
              <div class="header__wrap">
                <div class="header__left">
                  <div class="header__label"><a class="logo" href="#">kavproject</a></div>
                  <div class="header__tel"><a class="tel" href="+78672465758">+7 (8672) 46-57-58</a></div>
                </div>
                <div class="header__right">
                  <nav class="header__menu">
                    <div class="container">
                      <div class="header__inner">
                        <ul class="menu">
                          <li class="menu-item"><a class="menu-link" href="#">О нас</a></li>
                          <li class="menu-item"><a class="menu-link" href="#">Услуги</a></li>
                          <li class="menu-item"><a class="menu-link" href="#">Клиенты</a></li>
                          <li class="menu-item"><a class="menu-link" href="#">Проекты</a></li>
                          <li class="menu-item"><a class="menu-link" href="#">Блог</a></li>
                          <li class="menu-item"><a class="menu-link" href="#">Вакансии</a></li>
                          <li class="menu-item"><a class="menu-link" href="#">Контакты</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  <div class="header__toggle">
                    <button class="toggle-menu" type="button"><span class="toggle-menu__text">MENU</span><span class="toggle-menu__burger"><span></span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="main-screen__wrap">
            <div class="container">
              <div class="main-screen__content">
                <h1 class="main-screen__heading">КавПроект</h1>
                <div class="main-screen__inner">
                  <div class="main-screen__nav"><a class="main-screen__link" href="#">Инженерные изыскания</a><a class="main-screen__link" href="#">Проектирование</a><a class="main-screen__link" href="#">Ландшафтный дизайн</a><a class="main-screen__link" href="#">Авторский надзор</a><a class="main-screen__link" href="#">Реставрация</a><a class="main-screen__link" href="#">Реконструкция</a></div>
                  <div class="main-screen__btn"><a class="btn aqua" href="#">Узнать стоимость проекта</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 offset-xl-1">
              <div class="about">
                <div class="about__left">
                  <h2>О нашей компании</h2>
                  <div class="about__desc">
                    <p>Общество с ограниченной ответственностью «КАВПРОЕКТ» является одним из лидеров на рынке проектных услуг. Основным видом деятельности является деятельность в области архитектуры, инженерно-техническое проектирование в промышленности и строительстве. ООО «КАВПРОЕКТ» является челном саморегулируемых организаций «Союз проектных организаций РОДОС» СРО № 0532.01-2015-1513048313-П-077 и «Союз изыскательских организаций РОДОС» СРО № 0303.02-2015-1513048313-И-010. ООО «КАВПРОЕКТ» реализует в своих проектах новые концепции по опыту мировой и российской архитектуры . Опираясь на базовые знания и навыки современной архитектурной науки, компания всегда открыта любым новациям и не боится идти экспериментальным путем. Именно благодаря этому сегодня «Кавпроект» занимает лидирующие позиции на рынке, являясь организацией со своими традициями, узнаваемым стилем и безупречной репутацией. Компания «Кавпроект» сегодня предоставляет весь спектр проектно- изыскательских услуг.</p>
                  </div>
                </div>
                <div class="about__right">
                  <div class="about__indicators">
                    <div class="about__indicators_item">
                      <div class="about__indicators_number" style="color: #39425d;">57</div>
                      <div class="about__indicators_desc">выполненных<br>проектов</div>
                    </div>
                    <div class="about__indicators_item">
                      <div class="about__indicators_number" style="color: #616f9a;">2014</div>
                      <div class="about__indicators_desc">год основания организации</div>
                    </div>
                    <div class="about__indicators_item">
                      <div class="about__indicators_number" style="color: #7f93d6;">31</div>
                      <div class="about__indicators_desc">человек в штате</div>
                    </div>
                  </div>
                </div>
                <div class="about__btn"><a class="btn green" href="#">Подробнее</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 offset-xl-1">
              <h2>Наши проекты</h2>
            </div>
            <div class="col-12">
              <div class="slider">
                <div class="slider__item"><a class="slider__inner" href="#">
                    <div class="slider__name">Проект Фонтана в г. Беслан</div>
                    <div class="slider__img"><img src="img/img-project.jpg" alt=""></div></a></div>
                <div class="slider__item"><a class="slider__inner" href="#">
                    <div class="slider__name">Ландшафтный дизайн<br>Сцена в с. Даргавс РСО-Алания</div>
                    <div class="slider__img"><img src="img/img-project.jpg" alt=""></div></a></div>
                <div class="slider__item"><a class="slider__inner" href="#">
                    <div class="slider__name">Площадка пред с. Реком в РСО-Алания</div>
                    <div class="slider__img"><img src="img/img-project.jpg" alt=""></div></a></div>
                <div class="slider__item"><a class="slider__inner" href="#">
                    <div class="slider__name">Проект Фонтана в г. Беслан</div>
                    <div class="slider__img"><img src="img/img-project.jpg" alt=""></div></a></div>
                <div class="slider__item"><a class="slider__inner" href="#">
                    <div class="slider__name">Ландшафтный дизайн<br>Сцена в с. Даргавс РСО-Алания</div>
                    <div class="slider__img"><img src="img/img-project.jpg" alt=""></div></a></div>
                <div class="slider__item"><a class="slider__inner" href="#">
                    <div class="slider__name">Площадка пред с. Реком в РСО-Алания</div>
                    <div class="slider__img"><img src="img/img-project.jpg" alt=""></div></a></div>
              </div>
            </div>
            <div class="col-12"><br>
              <div class="show-more"><a class="show-more__link" href="#">Смотреть все проекты</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 offset-xl-1">
              <div class="advantage">
                <h2>Что ценят в нас наши клиенты?</h2>
                <div class="advantage__wrap">
                  <div class="advantage__item pink">
                    <div class="advantage__number"><span>01</span></div>
                    <div class="advantage__desc">Предоставляем полный перечень<br>проектно-изыскательных работ</div>
                  </div>
                  <div class="advantage__item yellow">
                    <div class="advantage__number"><span>02</span></div>
                    <div class="advantage__desc">Предоставляем смету<br>для сверки с Бизнес-планом</div>
                  </div>
                  <div class="advantage__item aqua">
                    <div class="advantage__number"><span>03</span></div>
                    <div class="advantage__desc">Соблюдаем сроки сдачи<br>проектов</div>
                  </div>
                  <div class="advantage__item green">
                    <div class="advantage__number"><span>04</span></div>
                    <div class="advantage__desc">Слышим пожелания, и не<br>предлагаем шаблонных решений</div>
                  </div>
                  <div class="advantage__item red">
                    <div class="advantage__number"><span>05</span></div>
                    <div class="advantage__desc">У нас гибкое ценообразование</div>
                  </div>
                  <div class="advantage__item pink">
                    <div class="advantage__number"><span>06</span></div>
                    <div class="advantage__desc">Предлагаем функциональные<br>и стильные решения для<br>экстерьера и интерьера</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="clients-block">
          <div class="container">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <h2>Наши клиенты</h2>
              </div>
              <div class="col-12">
                <div class="clients-block__wrap">
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                  <div class="clients-block__item"><a class="clients-block__link" href="#"><img src="img/gasprom.jpg" alt=""></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section--calculate">
        <div class="section__img"><img src="img/city.png" alt=""></div>
        <div class="calculate">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 offset-xl-1">
                <div class="calculate__heading">
                  <h2>Закажите <span class="text-red">бесплатный</span> предварительный расчет стоимости вашего проекта</h2>
                </div>
              </div>
              <div class="col-md-6 col-xl-5 offset-xl-1">
                <div class="calculate__form">
                  <form class="form" action="" method="">
                    <div class="form__row">
                      <div class="form__field">
                        <label class="form__label" for="inputName">Ваше имя</label>
                        <input class="form__input" type="text" name="inputName" id="inputName" value="" required>
                      </div>
                    </div>
                    <div class="form__row">
                      <div class="form__field">
                        <label class="form__label" for="inputTel">Телефон</label>
                        <input class="form__input" type="text" name="inputTel" id="inputTel" value="" required>
                      </div>
                    </div>
                    <div class="form__row -offset-small">
                      <div class="form__field">
                        <label class="form__label" for="inputMessage">Описание проекта</label>
                        <textarea class="form__textarea" name="inputMessage" id="inputMessage" required></textarea>
                      </div>
                    </div>
                    <div class="form__row">
                      <div class="form__file">
                        <input type="file" name="inputFile"><span class="button">Прикрепите подробное ТЗ</span>
                        <label class="label" data-js-label></label>
                      </div>
                    </div>
                    <div class="form__btn">
                      <button class="btn red" type="button">Заказать расчет</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xl-5 offset-xl-1">
            <div class="footer__contacts">
              <div class="footer__heading">
                <h2>Контакты</h2>
              </div>
              <div class="footer__content">
                <div class="footer__text">
                  ООО «Кавпроект»<br>
                  Россия, 362013, РСО-Алания, г. Владикавказ, ул. Мичурина, 46<br>
                  тел. +7 (8672) 46-57-58<br>
                  тел./факс +7 (8672) 46-58-58<br>
                  office@kavproject.ru
                </div>
                <div class="footer__social"><a class="footer__social_link facebook" href="#"></a></div>
                <div class="footer__btn"><a class="btn red icon icon--tel" href="#">Обратный звонок</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-xl-6">
            <div class="footer__blog">
              <div class="footer__heading">
                <h2>Блог</h2>
              </div>
              <div class="footer__blog_content" id="footer-slider">
                <div class="footer__blog_item"><a class="footer__blog_img" href="#"><img src="img/footer-blog.jpg" alt=""></a>
                  <div class="footer__blog_desc">
                    Авторский надзор: что это такое и с чем его «едят»?
                    Авторский надзор – уникальная услуга, включающая комплекс работ по контролю деятельности...
                  </div>
                </div>
                <div class="footer__blog_item"><a class="footer__blog_img" href="#"><img src="img/footer-blog.jpg" alt=""></a>
                  <div class="footer__blog_desc">
                    Авторский надзор: что это такое и с чем его «едят»?
                    Авторский надзор – уникальная услуга, включающая комплекс работ по контролю деятельности...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <div class="footer__copyright">© 2020 г. ООО «Кавпроект». Все права защищены.</div>
          </div>
        </div>
      </div>
    </footer>
    <script src="libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="libs/validate/jquery.validate.js"></script>
    <script src="libs/slick/slick.js"></script>
    <script src="libs/selectric/jquery.selectric.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

app/templates/home.pug
extends layout/layout

block variables
  - var title = 'Главная страница'
  - var homePage = true

block header
  section
    .main-screen(style="background-image: url(img/bg_home.jpg)")
      include modules/header
      .main-screen__wrap
        .container
          .main-screen__content
            h1.main-screen__heading КавПроект
            .main-screen__inner
              .main-screen__nav
                a.main-screen__link(href="#") Инженерные изыскания
                a.main-screen__link(href="#") Проектирование
                a.main-screen__link(href="#") Ландшафтный дизайн
                a.main-screen__link(href="#") Авторский надзор
                a.main-screen__link(href="#") Реставрация
                a.main-screen__link(href="#") Реконструкция
              .main-screen__btn
                a.btn.aqua(href="#") Узнать стоимость проекта
  section.section
    .container
      .row
        .col-xl-10.offset-xl-1
          .about
            .about__left
              h2 О нашей компании
              .about__desc
                p Общество с ограниченной ответственностью «КАВПРОЕКТ» является одним из лидеров на рынке проектных услуг. Основным видом деятельности является деятельность в области архитектуры, инженерно-техническое проектирование в промышленности и строительстве. ООО «КАВПРОЕКТ» является челном саморегулируемых организаций «Союз проектных организаций РОДОС» СРО № 0532.01-2015-1513048313-П-077 и «Союз изыскательских организаций РОДОС» СРО № 0303.02-2015-1513048313-И-010. ООО «КАВПРОЕКТ» реализует в своих проектах новые концепции по опыту мировой и российской архитектуры . Опираясь на базовые знания и навыки современной архитектурной науки, компания всегда открыта любым новациям и не боится идти экспериментальным путем. Именно благодаря этому сегодня «Кавпроект» занимает лидирующие позиции на рынке, являясь организацией со своими традициями, узнаваемым стилем и безупречной репутацией. Компания «Кавпроект» сегодня предоставляет весь спектр проектно- изыскательских услуг.
            .about__right
              .about__indicators
                .about__indicators_item
                  .about__indicators_number(style="color: #39425d;") 57
                  .about__indicators_desc выполненных<br>проектов
                .about__indicators_item
                  .about__indicators_number(style="color: #616f9a;") 2014
                  .about__indicators_desc год основания организации
                .about__indicators_item
                  .about__indicators_number(style="color: #7f93d6;") 31
                  .about__indicators_desc человек в штате
            .about__btn
              a.btn.green(href="#") Подробнее
  section.section
    .container
      .row
        .col-xl-10.offset-xl-1
          h2 Наши проекты
        .col-12
          include partials/_slider-name-img
        .col-12
          br
          .show-more
            a.show-more__link(href="#") Смотреть все проекты


  include partials/_advantages
  include partials/_clients-block
  include partials/_calculate

block footer
  include modules/footer
